#pai {
  background: #4fc6e0;
  height: 500px;
  border: 1px solid green;
  display: flex;
  /* gap: 15px; */
  flex-wrap: wrap;
  justify-content: start;
  align-content: flex-start;
}
.item {
  width: 100px;
  background: white;
  border: 1px solid green;
  flex-basis: 100px;
}
.item:nth-child(3) {
  background: green;
  flex-grow: 1;
}
